.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

}

.cartItem {
  background: rgba(0, 0, 0, 0.6);
  width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}



.cartItem img {
  width: 200px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  border-radius: 7px;
  border: 0.1rem solid #111;
  height: 17px;
  margin: 0;
  border-radius: 0.25rem;

}

.btn {
  border-radius: 7px;
  cursor: pointer;
  height: 21px;
  border: none;
  width: 25px;
  margin: 0 3px 0 3px;
  background-color: #3b71ca;
  color: #fff;
}

.btn:hover {
  box-shadow: 0 4px 9px -4px #3b71ca;
}

.trash {
  background-color: transparent;
  border: none;
  font-size: 20px;
  background-color: #3b71ca;
  color: #fff;
  border-radius: 15%;
}

.trash:hover {
  box-shadow: 0 4px 9px -4px #3b71ca;
  cursor: pointer;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: #3b71ca;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.checkout button:hover {
  box-shadow: 0 4px 9px -4px #3b71ca;
}